dash==2.3.0
Brotli
click
colorama
dash-core-components
dash-html-components
dash-table
Flask
Flask-Compress
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
plotly
python-dateutil
pytz
six
tenacity
typing-extensions
Werkzeug
zipp
gunicorn
